<!--    <!DOCTYPE html>-->
<!--    <html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--    <head>-->
<!--        <meta charset="ISO-8859-1">-->
<!--        <title>Teacher Management System</title>-->

<!--        <link rel="stylesheet"-->
<!--              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"-->
<!--              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"-->
<!--              crossorigin="anonymous">-->

<!--    </head>-->
<!--    <body>-->
<!--    <div class="container my-2">-->
<!--        <h1>Teacher List</h1>-->
<!--        &lt;!&ndash;    <a th:href = "@{/showNewEmployeeForm}" class="btn btn-primary btn-sm mb-3"> Add Employee </a>&ndash;&gt;-->
<!--        <table border="1" class = "table table-striped table-responsive-md">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>Teacher  Name</th>-->
<!--                <th>Teacher dept</th>-->
<!--                <th>Teacher salary</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:each="Teacher : ${Listofteacher}">-->
<!--                <td th:text="${Teacher.name}"></td>-->
<!--                <td th:text="${Teacher.dept}"></td>-->
<!--                <td th:text="${Teacher.salary}"></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
<!--    </body>-->
<!--    </html>-->