<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="ISO-8859-1">
  <title>Bank Management System</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
  <h1>Bank Management System</h1>
  <hr>
  <h2>Save Account</h2>

  <form action="#" th:action="@{/saveAccount}" th:object="${account_details}" method="POST">
    <input type="text" th:field="*{Accountno}" placeholder="Account_Details Account No" class="form-control mb-4 col-4">

    <input type="text" th:field="*{Name}" placeholder="Account_Details  Name" class="form-control mb-4 col-4">

    <input type="text" th:field="*{current_address}" placeholder="Account_Details current_address" class="form-control mb-4 col-4">

    <input type="text" th:field="*{Permanent_address}" placeholder="Account_Details Permanent_address" class="form-control mb-4 col-4">

    <input type="text" th:field="*{PAN_Number}" placeholder="Account_Details PAN_Number" class="form-control mb-4 col-4">

    <input type="text" th:field="*{Adhar_Number}" placeholder="Account_Details Adhar_Number" class="form-control mb-4 col-4">

    <input type="text" th:field="*{amount}" placeholder="Account_Details amount" class="form-control mb-4 col-4">

    <button type="submit" class="btn btn-info col-2"> Save Account_Details</button>
  </form>

  <hr>

  <a th:href="@{/}"> Back to Account_Details List</a>
</div>
</body>

</html>